#google-form {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -100%);
}

#search-wrapper {
   border-radius: 25px;
   border: 2px solid #D0DADA;
   /* background: green; */
   width: 400px;
   height: 45px;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-12%, 15%);
}

.search-icon {
    -ms-transform: translate(-50%, -50%);
    transform: translate(40%, 40%);
}

#google-search {
    -ms-transform: translate(-50%, -50%);
    transform: translate(5%, 10%);
    width: 80%;
    font-size: 14pt;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background: white;
}

#google-search {
    background-color:white;
}

#google-search:focus {
    outline: none;
}

.google-microphone {
    -ms-transform: translate(-50%, -50%);
    transform: translate(40%, 40%);
}